.button1{
  display:block;
  padding: 1.0em 0.5em;
  border:0.1em solid white;
  background: linear-gradient(#0019ff,#00cfff);
  margin: auto;
  border-radius: 1em;
  box-sizing: border-box;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}
