<nav>
  <a class="button"
     routerLink="/home-page"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Return to Home Page</a>
</nav>

<div class="mx-auto" style="width: 400px;">
  <h3>Current User Address</h3>
  <p>UserID: {{this.user_id}}</p>
  <p>Recipient Name: {{this.recipient_name}}</p>
  <p>Street: {{this.street}}</p>
  <p>Street2: {{this.street2}}</p>
  <p>City: {{this.city}}</p>
  <p>State: {{this.state}}</p>
  <p>Zip: {{this.zip}}</p>


<!--  <button class="btn btn-primary" (click)="userLog()">Show Shipping Details</button>-->
  <button class="btn btn-danger px-2" (click)="deleteAddress()" [disabled]="user_id==''" >Delete Address</button>
</div>


<div  class="mx-auto" style="width: 400px;">
  <h3>Edit User Address</h3>
  <form [formGroup]="addressForm" >
    <div class="form-group">
      <label for="recipient_name">Recipient Name</label>
      <input id="recipient_name" class="form-control" type="text" formControlName="recipient_name">
      <div  class="alert alert-danger" *ngIf="addressForm.controls['recipient_name'].errors?.['required']">Recipient Name is required</div>
      <div class="alert alert-danger" *ngIf="addressForm.controls['recipient_name'].errors?.['maxlength'] ">Name is too long</div>

    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input id="street" class="form-control" type="text" formControlName="street">
    </div>

    <div class="form-group">
      <label for="street2">Street 2</label>
      <input id="street2" class="form-control" type="text" formControlName="street2">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input id="city" class="form-control" type="text" formControlName="city">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input id="state" class="form-control" type="text" formControlName="state">
    </div>

    <div class="form-group">
      <label for="zip">Zip</label>
      <input id="zip" class="form-control" type="text" formControlName="zip">
    </div>

    <div class="form-group">
      <label for="is_shipping"> Above is a Shipping Address? </label>
      <input id="is_shipping" type="radio" formControlName="is_shipping">
    </div>

    <div class="form-group">
      <label for="is_billing">Above is a Billing Address? </label>
      <input id="is_billing" type="radio" formControlName="is_billing">
    </div>
    <!-- <label for="submit">Submit</label> -->
    <button type="submit" class="btn btn-outline-primary"
            (click)="onSubmitUpdate()"
            *ngIf="recipient_name.length!=0"
            [disabled]="!addressForm.valid">Update</button>
    <button type="submit" class="btn btn-outline-primary"
            (click)="onSubmitAdd()"
            *ngIf="recipient_name==''"
            [disabled]="!addressForm.valid">Add</button>
  </form>
</div>


