<!-- <div class="ui raised segment">
    <h2 class="ui header">Address Form</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
        <div class="field">
            <label for="recName">Recipient Name</label>
            <input
                type="text"
                id="recName"
                placeholder="ENTER NAME"
                [formControl]="myForm.controls['recipientName']"
                >

        </div>

        <button type="submit" class="ui button">Submit</button>

    </form>

</div> -->


<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="recipientName">Recipient Name</label>
    <input id="recipientName" class="form-control" type="text" formControlName="_recipientName">

  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <input id="street" class="form-control" type="text" formControlName="_street">
  </div>

  <div class="form-group">
    <label for="street2">Street 2</label>
    <input id="street2" class="form-control" type="text" formControlName="_street2">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input id="city" class="form-control" type="text" formControlName="_city">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input id="state" class="form-control" type="text" formControlName="_state">
  </div>

  <div class="form-group">
    <label for="zip">Zip</label>
    <input id="zip" class="form-control" type="text" formControlName="_zip">
  </div>

  <div class="form-group">
    <label for="isShipping"> Above is a Shipping Address? </label>
    <input id="isShipping" type="radio" formControlName="_isShipping">
  </div>

  <div class="form-group">
    <label for="isBilling">Above is a Billing Address? </label>
    <input id="isBilling"  type="radio" formControlName="_isBilling">
  </div>


    <!-- <label for="submit">Submit</label> -->
    <button type="submit" class="btn btn-outline-primary" [disabled]="!addressForm.valid">Submit</button>



</form>
