
<app-nav-bar></app-nav-bar>
    
<homepage-search-bar></homepage-search-bar>

<nav>
    <div class="general">
        <a class="button1"
        routerLink="/credit-card"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Back to Credit Cards</a>
    </div>
</nav>

<div>
    <div class="center1">
        <h1 class="titles">Add a credit or debit card</h1>
    </div>
    <div class="center1">
        <form class="a" #paymentForm="ngForm" (ngSubmit)="createCard(paymentForm.value)">
            <body>
                <label for="cardNum">Card Number:</label><br>
                <input type="text" class="a" id="cardNum" name ="cardNum" placeholder="Card Number" pattern="[0-9]{16}"  required ngModel #cardNum="ngModel">
                <small *ngIf="cardNum.invalid && cardNum.touched">
                    Card number can only include numbers and must be of length 16.
                </small><br>

                <label for="sCode">Security Code:</label><br>
                <input type="text" id="sCode" name ="sCode" placeholder="CVV" pattern="[0-9]{3,4}" class="a" required ngModel #sCode="ngModel">
                <small *ngIf="sCode.invalid && sCode.touched">
                    Invalid CVV.
                </small><br>
        
                <label for="name">Name:</label><br>
                <input type="text" id="fullName" name ="fullName" placeholder="Card Holder Name" pattern="[a-zA-Z ]{1,40}" class="a" required ngModel #fullName="ngModel">
                <small *ngIf="fullName.invalid && fullName.touched">
                    Invalid name. Name must not include numbers or special characters.
                </small><br>

                <label for="exp">Expiration Date:</label><br>
                <input type="text" id="exp" name ="exp" placeholder="MM/YY" pattern="(?:0[1-9]|1[0-2])/[0-9]{2}" class="a" required ngModel #exp="ngModel">
                <small *ngIf="exp.invalid && exp.touched">
                    Invalid expiration date. Pattern:MM/YY
                </small><br>

                <div class="buttonHolder">
                    <input type="submit" value="Submit" class="b"[disabled]="paymentForm.invalid">
                    <br><br>
                </div>           
            </body>

        </form>
    </div>
</div>
