<nav>
    <div>
        <a class="button"
        routerLink="/home-page"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Return to Home Page</a>

        <a class="button1"
        routerLink="/credit-card"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Back to Credit Cards</a>
    </div>
</nav>
<div>
    <div class="center1">
        <h1>Card Information</h1>
    </div>
    <div class="center1">
        <form class="a">
            <body>
                <fieldset style="border: 0.2em solid #33d8ff;">
                    <legend style="font-weight:bold;">Select Bank</legend>
                    <input type="radio" id="chase" name="bank" value="Chase" required>
                    <label for="chase">Chase</label><br>
                
                    <input type="radio" id="wellsFargo" name="bank" value="Wells Fargo">
                    <label for="wellsFargo">Wells Fargo</label><br>
                
                    <input type="radio" id="citibank" name="bank" value="CitiBank">
                    <label for="citibank">CitiBank</label><br>
                
                    <input type="radio" id="bofa" name="bank" value="Bank Of America">
                    <label for="bofa">Bank Of America</label><br>
                </fieldset>
    
            </body>
            <body>
                <label for="cardNum">Card Number:</label><br>
                <input type="text" id="cardNum" placeholder="Card Number" pattern="[0-9]{16}" required class="a" ><br>
        
                <label for="sCode">Security Code:</label><br>
                <input type="text" id="sCode" placeholder="CVV" pattern="[0-9]{3-4}" required class="a"><br>
        
                <label for="name">Name:</label><br>
                <input type="text" id="name" placeholder="Card Holder Name" pattern="[A-Za-z]{1-40}" required class="a"><br><br>
        
                <label for="exp">Expiration Date:</label><br>
                <input type="text" id="exp" placeholder="MM/YY" pattern="[0-9]{2}/[0-9]{2}" required class="a"><br><br>
                
                <input type="submit" value="Submit" class="b" ><br><br>
            </body>
        </form>
    </div>
</div>


