<p>previous-orders works!</p>
<nav>
  <a
    class="button"
    routerLink="/home-page"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Return to Home Page</a
  >
</nav>

<h1>Previous Orders</h1>
<div class="container-my-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div
          class="container rounded"
          *ngIf="previousOrders.length; else emptyli"
        >
          <table>
            <tr class="thh">
              <th>OrderID</th>
              <th>UserID</th>
              <th>AddressID</th>
              <th>Price</th>
              <th>CreditCardID</th>
              <th>DateOrdered</th>
              <th>DateShipped</th>
              <th>DateDelivered</th>
              <th>OrderStatus</th>
              <th>Cancel Order?</th>
            </tr>

            <tr>
              <!-- ngFor is the shortened form of NgForOf mentioned above -->
            </tr>

            <tr class="shadow" *ngFor="let order of previousOrders">
              <!-- for template syntax anything inside the brackets {{}} is considered an expression, and will try to solve it by looking in the component logic -->
              <td>{{ order.OrderID }}</td>
              <td>{{ order.UserID }}</td>
              <td>{{ order.AddressID }}</td>
              <td>{{ order.Price }}</td>
              <td>{{ order.CreditCardID }}</td>
              <td>{{ order.DateOrdered }}</td>
              <td>{{ order.DateShipped }}</td>
              <td>{{ order.DateDelivered }}</td>
              <td>{{ order.OrderStatus }}</td>

              <td>
                <form action="/api/orders/updateOrder/cancelled/{{order.OrderID}}" method="POST" onsubmit="alert(this.action)">
                  <input
                    class="cancelbtn"
                    type="submit"
                    *ngIf="
                      order.OrderStatus == 'Not Shipped Yet';
                      else cantCancel
                    "
                  
                    value="Cancel Order"
                  >
                </form>
              </td>
              <td><ng-template #cantCancel>Not Available</ng-template></td>
              <!-- ... -->
            </tr>
          </table>
        </div>
        <ng-template #emptyli>No Previous Orders</ng-template>
      </div>
    </div>
  </div>
</div>
