<nav>
  <a class="button"
  routerLink="/home-page"
  routerLinkActive="activebutton"
  ariaCurrentWhenActive="page">Return to Home Page</a>
</nav>
<div class="jumbotron bg-transparent text-center">
    <div *ngIf="!user" class="card text-center">
      <h6 class="card-header">
        Sign into Marketplace
      </h6>
      <div class="card-block">
        <h4 class="card-title">Not signed in</h4>
      </div>
      <div class="d-flex justify-content-center">
        <asl-google-signin-button type='standard' text="signin_with" size='medium' logo_alignment="center"></asl-google-signin-button>
      </div>
    </div>


    
    <div *ngIf="user" class="card text-center">
      <h6 class="card-header">
      </h6>
      <div class="card-block"></div>
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
      </div>
      <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>