<app-nav-bar></app-nav-bar>
    
<homepage-search-bar></homepage-search-bar>


<div class="categories">
    <h2 class="page">Categories</h2>
    <div class="categories-container">
        <div class="category" *ngFor="let category of categories"
         [routerLink]="['/item-gird']" [queryParams]="{category: category.category}">
                <img src="" alt="{{category.category}} img">
                <h3>{{category.category}}</h3>
                <a>View Products</a>
        </div>
    </div>
</div>