#btnDis {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.table{
    table-layout: fixed;
}

.table-margin{
    margin-right: 160px; 
    margin-left: 160px
}

.table-margin2{
    margin-right: 160px; 
    margin-left: 50%;
}

.rowbg {
    background-repeat: no-repeat;
    background-image: url("/assets/img5.jpg");
    background-size: auto 900px;
}

.rowbg2 {
    background-repeat: no-repeat;
    background-image: url("/assets/img5.jpg");
    background-size: auto 450px;
}

h1 {
    font-family: 'Corbel';
}

th {
    font-family: 'Corbel 400';
}

td {
    font-family: 'Corbel 400';
}