#btnDis {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.table{
    table-layout: fixed;
    box-shadow: 1px 1px 1px #a9a7a7;
}

.table-margin{
    margin-right: 160px; 
    margin-left: 160px
}

.table-margin2{
    margin-right: 160px; 
    margin-left: 50%;
}

.rowbg {
    background-repeat: no-repeat;
    background-image: url("/assets/img2.png");
    background-size: auto 1000px;
}

.rowbg2 {
    background-repeat: no-repeat;
    background-image: url("/assets/img2.png");
    background-size: auto 500px;
}

h1 {
    font-family: 'Corbel';
}

th {
    font-family: 'Corbel 400';
}

td {
    font-family: 'Corbel 400';
}