<!-- <div class="row justify-content-center">
    <div class="input-group rounded w-50">
        <input type="search" (input)="getItemsSearch($event)" class="form-control rounded mx-2" placeholder="Search" />
        <div class="input-group-append">
            <button class="btn btn-nisum rounded"><i class="bi bi-search"></i></button>
        </div>
    </div>
</div> -->
<!-- <br> -->

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto mt-4">
            <div class="form-group">
                <input type="search" name="search-term" (input)="getItemsSearch($event)" class="form-control form-control-lg"
                    placeholder="Search" />
                    <!-- <input type="submit" value="search"> -->
                    <button type="submit" class="btn btn-nisum rounded"><i class="bi bi-search"></i></button>
                <!-- <div *ngFor="let result of data">
                    <div class="card card-body mb-1">
                        <h4>{{ result.prodName }}</h4>
                        <small class="text-primary">{{ result.description}}</small>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>