<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto mt-4">
            <div class="form-group">
            <div>
            </div>
                <input type="text" name="search-term" class="form-control form-control-lg"
                    placeholder="Search" [(ngModel)]='listFilter'/>
                    <button type="button" value="{{listFilter}} "(click)="goToSearchedItem()"  searchProduct="filteredProducts"
                    class="btn btn-nisum rounded"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</div>