<p>previous-orders works!</p>
<nav>
    <a class="button"
    routerLink="/home-page"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Return to Home Page</a>
</nav>

<div class="container">
    <div class="row py-4">
        <div class="col-2 order-2" id="sticky-sidebar">

                <h4>Filter options?(maybe be removed)</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                </div>
        </div>
        <div class="col" id="main">
            <app-item-gird ></app-item-gird>
        </div>
    </div>
</div>