<app-nav-bar></app-nav-bar>

<homepage-search-bar></homepage-search-bar>

<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto mt-4">
      <div class="form-group">
        <div>
        </div>
        <input type="text" name="search-term" class="form-control form-control-lg" placeholder="Search" 
        [(ngModel)]='listFilter'/>
        <button type="submit" class="btn btn-nisum rounded"><i class="bi bi-search"></i></button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py-4">
    <div class="col-md-2 justify-content-start bg-light border border-primary rounded" id="sticky-sidebar">
      <h4>Filter By: </h4>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"
          (change)="addToFilter($event,'Snacks')">

        <label class="form-check-label" for="flexCheckDefault1">
          Snacks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"
          (change)="addToFilter($event,'Breakfast Cereals')">

        <label class="form-check-label" for="flexCheckDefault2">
          Breakfast Cereals
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
          (change)="addToFilter($event,'Drinks')">

        <label class="form-check-label" for="flexCheckDefault">
          Drinks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
          (change)="addToFilter($event,'Household')">

        <label class="form-check-label" for="flexCheckDefault">
          Household
        </label>
      </div>
      <br>
      <div>
        <p>Min price:</p>
        <input [(ngModel)]='setMinPrice' type="text" class="form-control" placeholder="0.00" value="0"
          (ngModelChange)="setMin(setMinPrice)">
      </div>
      <div>
        <p>Max price:</p>
        <input [(ngModel)]='setMaxPrice' type="text" class="form-control" placeholder="250.00" value="250"
          (ngModelChange)="setMax(setMaxPrice)">
      </div>

      <br>

      <button class="btn btn-primary" (click)="filterBy()">Submit</button>
    </div>

    <div class="col" id="main">
      <div class="content">

        <div fxLayout="row wrap" fxLayoutGap="16px grid">

          <!-- Filter the items by their prodName since searchProducts is a Filtered array  -->
          <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let prod of searchProduct">

            <div class="card h-100 ">


              <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{prod.prod_name}}</h4>
              </div>

              <div class="card-body">

                <img src="{{prod.image_url}}">
                <br>
                <p class="card-text">{{prod.prod_description}}</p>
                <p class="card-text">{{prod.price_per_unit|currency: 'USD'}}</p>

              </div>

              <div *ngIf="user != null">
                <button class="btn btn-primary w-100 background-nisum" (click)="cartService.addToCart(prod)">Add to
                  Cart</button>
              </div>
              <div *ngIf="user == null">
                <button class="btn btn-primary w-100 disabled background-nisum">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>