<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
            routerLink="/home-page"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
                <img src="assets/Nisum-logo.png" width="125" height="35" class="d-inline-block align-top"
                    alt="Nisum"></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bi bi-person" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"> Profile</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" type="submit" routerLink="/previous-orders" routerLinkActive="activebutton"ariaCurrentWhenActive="page"
                                value="Previous Orders">Order History</a>
                            <a class="dropdown-item" type="submit" routerLink="/address-form" routerLinkActive="activebutton"ariaCurrentWhenActive="page"
                                value="Edit Address">Edit Address</a>
                            <a class="dropdown-item" type="submit" routerLink="/credit-card" routerLinkActive="activebutton"ariaCurrentWhenActive="page"
                                value="Credit Cards">Manage Credit Cards</a>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/cart"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">Cart</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!retrievedUser">
            <asl-google-signin-button class="d-flex justify-content-center" type='standard' text="signin_with" size='medium' logo_alignment="center"></asl-google-signin-button>
        </div>
        
        <div *ngIf="retrievedUser">
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
    </div>
</nav>


<!-- <p>nav-bar works!</p> -->