
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav>
    <a class="button"
    routerLink="/home-page"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Return to Home Page</a>
</nav>

<div>
    <h2 class ="a">
        Payment Methods
    </h2>
    <div *ngIf="credits.length; else emptyCredit">
        <table>
            <div>
                <a class="button1"
                routerLink="/payment-form"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">Add New Payment</a>
            </div>
            <tr class="a">
                <th>Name</th>
                <th>Expiration Date</th>
                <th>Card Number</th>
                <th></th>
            </tr>
            <tr *ngFor = "let card of credits; let index = index">
                <td>{{card.cardholderName}}</td>
                <td>{{card.expirationMonth}}/{{card.expirationYear}}</td>
                <td>{{card.cardType}} card ending in {{card.cardNumber}}</td>
                <td>
                    <button type="button" class="button1" id="removeCard" (click)="removeCard(index)">Remove Card</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<ng-template  #emptyCredit>
    <div>
        <p class="a">No payments have been added yet!</p>
    </div>
</ng-template>

