/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-nisum {
    background: #00cfff;
    background: linear-gradient(to right, #6e12ff, #0019ff, #00cfff);
    color: #fff;
    border-radius: 0%;
    border: none;
    font-family: 'Corbel', Verdana, "Bitstream Vera Sans", sans-serif;
}