<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/corbel" rel="stylesheet">
    <link rel="stylesheet" href="./home-page.component.css">
    <title>Home Page</title>

</head>

    <div class="hp">
        <app-nav-bar></app-nav-bar>
        
        <homepage-search-bar></homepage-search-bar>
    
    <br>
    <br>

    <h3 style="text-align: left">Featured Items</h3>

    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <!-- *ngFor needed to make two carousel-items class in order to have two pages to scroll through, 
            5 items per page, in total just displaying 10 items. Might have to do another ngFor for the card class. -->
          <div class="carousel-item active">
            <div class="cards-wrapper">
            <div class="card" *ngFor="let featProd of featProds | slice:0:10; let i=index "> <!--slice:0:10 = get first 10 products within the array -->
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <!--First card does not display -->
                <h5 class="card-title">{{featProd.prod_name}}</h5>
                <h6>{{featProd.price_per_unit}}</h6>
                <p class="card-text">{{featProd.prod_description}}</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <h6>Price</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <h6>Price</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <h6>Price</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-feat">Add to Cart</a>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <h6>Price</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-feat">Add to Cart</a>
                </div>
              </div>
          </div>
          </div>

          <!-- This 2nd page for the carousel will be deleted. It's just here to help me visualize the loop -->
          <!-- <div class="carousel-item">
            <div class="cards-wrapper">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <h6>Price</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <h6>Price</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <h6>Price</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-feat">Add to Cart</a>
              </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <h6>Price</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-feat">Add to Cart</a>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <h6>Price</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-feat">Add to Cart</a>
                </div>
              </div>
          </div>
          </div> -->

         </div>
    </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <br>
    <br>

    <h3 style="text-align: left">Shop By Category</h3>
    

    <div class="card-category row">
        <div class="col-sm-auto" style="width: 14.5rem;" *ngFor="let card of catCard | slice:0:6; let i=index">
          <div class="position-img" style="position:relative;">
            <figure><img src="{{card.img}}" alt="Category image" class="img-thumbnail" routerLink="/categories"></figure>
          </div>
          <figcaption routerLink="/categories">{{card.category}}</figcaption>
        </div>
    </div>

    <br>
    <br>

    <div class="col text-center">
        <a href="#" class="btn btn-feat" routerLink="/categories">See all categories</a>
    </div>

    <br>
    <br>
  <li><input class="button btn-nisum rounded"
             type="submit"
             routerLink="/address-form"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page"
             value="Edit Address"></li>


</ul>
</nav>
