
<div class="hp">
    <app-nav-bar></app-nav-bar>
    
    <homepage-search-bar></homepage-search-bar>


<nav>
<a class="button" 
routerLink="/previous-orders" 
routerLinkActive="activebutton"
ariaCurrentWhenActive="page">Previous Orders</a>

<br>
<a class="button"
routerLink="/cart"
routerLinkActive="activebutton"
ariaCurrentWhenActive="page">Cart</a>
<br>
<a class="button"
routerLink="/item-gird"
routerLinkActive="activebutton"
ariaCurrentWhenActive="page">display</a>

<br>
<a class="button"
routerLink="/login"
routerLinkActive="activebutton"
ariaCurrentWhenActive="page">login</a>
</nav>
<nav>
    <a class="button"
    routerLink="/credit-card"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Credit Cards</a>
</nav>

<div *ngIf="user" class="card text-center">
    <h6 class="card-header">
    </h6>
    <div class="card-block"></div>
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>