
<div class="hp">
    <app-nav-bar></app-nav-bar>
    
    <homepage-search-bar></homepage-search-bar>


    <nav>
        <a class="button" routerLink="/previous-orders" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Previous Orders</a>

<br>

<a class="button"
routerLink="/cart"
routerLinkActive="activebutton"
ariaCurrentWhenActive="page">Cart</a>
    </nav>

    <!-- <nav>
        <a class="button" routerLink="/previous-orders" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Previous Orders</a>
    </nav>

    <p>home-page works!</p> -->
</div>