<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="top d-flex justify-content-between">
        <h2>Order Confirmation</h2>
        <span class="d-flex align-items-row">
            <h3 class="total">Order Total: $ {{total}}</h3>
            <button class="btn btn-primary" type="button" (click)="placeOrder()">Confirm Order</button>
        </span>
    </div>
    <h3 *ngIf="user == undefined">Loading...</h3>
    <div class="info-container" *ngIf="user!=undefined">
        <div class="info">
            <h3>Your Information:</h3>
            <div>
                <div>Name: {{user.first_name}} {{user.last_name}}</div>
                <div>Email: {{user.email}}</div>
                <div>Phone: {{user.phone}}</div>
            </div>
        </div>
        <div class="info">
            <h3>Shipping Address:</h3>
            <div>
                <div>Name: {{address.recipient_name}}</div>    
                <div>Street: {{address.street}}<span>, {{address.street2}}</span></div>
                <div>City: {{address.city}}, State: {{address.state}}, ZIP: {{address.zip}}</div>
            </div>
        </div>
        <div class="info">
            <h3>Payment:</h3>
            <div>
                <div>Name: {{card.cardholder_name}}</div>
                <div>Card #: XXXX - XXXX - XXXX - {{card.last_four_card_number}}</div>
            </div>
        </div>
        <div class="info">
            <h3>Billing Address:</h3>
            <div>
                <div>Name: {{billing.recipient_name}}</div>    
                <div>Street: {{billing.street}}<span>, {{billing.street2}}</span></div>
                <div>City: {{billing.city}}, State: {{billing.state}}, ZIP: {{billing.zip}}</div>
            </div>
        </div>
    </div>
    <div class="items d-flex flex-column">
        <h3>Cart</h3>
        <table class="table text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <td>Item image placeholder</td>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.itemPrice | currency: 'USD'}}</td>
                    <td>{{ item.itemQty}}</td>
                    <td>{{ (item.itemPrice * item.itemQty) | currency: 'USD'}}</td>
                </tr>
            </tbody>
        </table>
        <span class="d-flex align-items-row align-self-end">
            <h3 class="total">Order Total: $ {{total}}</h3>
            <button class="btn btn-primary" type="button" (click)="placeOrder()">Confirm Order</button>
        </span>
    </div>

</div>
