.confirm-orders{
   width: 85vw;
   margin: 0 auto;
}
.info-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
}  
.info{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
}
.top, .items{
    padding:25px;
}
.total{
    padding-right: 10px;
}
.table-margin2{ 
    margin-left: 50%;
}

